<h2>Listado de Productos</h2>
<table border="1">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Código</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody id="productList">
        <!-- Aquí se agregarán los productos -->
    </tbody>
</table>
